.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
scratch
inst/stan/*
!inst/stan/occARU.stan
!inst/stan/occARU.stanfunctions
!inst/stan/partial.stanfunctions
!inst/stan/util.stanfunctions
!inst/stan/predictors.stanfunctions
!inst/stan/coefficients.stanfunctions
!inst/stan/kernels.stanfunctions
!inst/stan/predict.stanfunctions
docs
R/make_data2.R
R/simulate_occARU.R

